/* PALETA 
#0FC2C0
#0CABA8
#008F8C
#015958
#023535 
*/


/* Container cabecera */
#cabecera {
    background-color: #0FC2C0;
    color: white;
    box-shadow: 0px 5px 20px #015958;
}

#tituloCabecera {
    color: white;
}

h1 {
    color: #023535;
}

p {
    color: #023535;
    font-size: 20px;
}

img {
    padding: 0;

}